<title>Edit User</title>
<form method="post" action="/admin/edit/<%= usergame.id %>?_method=PUT">
  <div class="mb-3">
    <label for="username" class="form-label">Username</label>
    <input type="text" class="form-control" name="username" id="username" value="<%= usergame.username %>" required />
  </div>

  <div class="mb-3">
    <label for="email" class="form-label">Email</label>
    <input type="email" class="form-control" id="email" name="email" value="<%= usergame.email %>" required />
  </div>

  <div class="mb-3">
    <label for="password" class="form-label">Password</label>
    <input type="password" class="form-control" id="password" name="password" value="<%= usergame.password %>" required />
  </div>

  <div class="mb-3">
    <label for="firstname" class="form-label">First Name</label>
    <input type="text" class="form-control" name="firstName" id="firstname" value="<%= usergame.UserGameBiodata.firstName %>" required />
  </div>

  <div class="mb-3">
    <label for="lastName" class="form-label">Last Name</label>
    <input type="text" class="form-control" name="lastName" id="lastName" value="<%= usergame.UserGameBiodata.lastName %>" required />
  </div>

  <div class="mb-3">
    <label for="phone" class="form-label">Phone Number</label>
    <input type="tel" class="form-control" name="phoneNumber" id="firstname" value="<%= usergame.UserGameBiodata.phoneNumber %>" required />
  </div>

  <div class="row">
    <div class="col-auto">
      <button type="button" onclick="history.back()" class="btn btn-danger">Batal</button>
    </div>

    <div class="col-auto">
      <button type="reset" class="btn btn-secondary">Reset</button>
    </div>

    <div class="col-auto">
      <button type="submit" class="btn btn-primary">Submit</button>
    </div>
  </div>
</form>
